<mat-grid-list cols="4">
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>
                Venusaur
            </mat-card-title>
            <mat-card-subtitle>
                Tipo(s): "Grass"
            </mat-card-subtitle>
            <mat-card-content>
                <img src="https://images.pokemontcg.io/ex14/28.png" alt="Image of Pokemon's Card Venusaur">
            </mat-card-content>
            <mat-card-footer>
                ID: "ex14-28"
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>

    <br>
</mat-grid-list>