<div>
    <p>{{pokemonDetail.card.name}}</p>
    <img [src]="pokemonDetail.card.imageUrlHiRes" [alt]="pokemonDetail.card.name">
    <p>ID: {{pokemonDetail.card.id}}</p>
    <p>Tipo(s): {{pokemonDetail.card.types}}</p>
    <p>Resistência(s): N/A </p>
    <p>Fraqueza(s): {{pokemonDetail.card.weaknesses[0].type}} {{pokemonDetail.card.weaknesses[0].value}}</p>
    <p>Ataques: </p>
    <ul>
        <li *ngFor="let attack of pokemonDetail.card.attacks">
           <div (click)="openDialog(attack)">{{attack.name}}</div>
        </li>
    </ul>
</div>